.bookmark-line{
		padding: 1rem;
		display: flex;
		justify-contents: flex-start;
		align-items: center;
		width: 100%;
		.bookmark-index, .bookmark-title{
			display:inline-block;
			background-color : green;
			color: white;
		}
		.bookmark-index{
			margin-left: 1rem;
			padding: 1rem;
		}
		.bookmark-title{
			padding: .5rem;
		}
	}
	
	