* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0rem; }

body {
  background-image: url("../imgs/dark-noise.png");
  background-repeat: repeat;
  background-position: center; }

.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Exo", sans-serif;
  color: #444; }

.u-margin-right--1rem {
  margin-right: 1rem !important; }

.u-margin-right--2rem {
  margin-right: 2rem !important; }

.u-margin-right--05rem {
  margin-right: .5rem !important; }

.u-margin-left--2rem {
  margin-left: 2rem !important; }

.u-margin-top--2rem {
  margin-top: 2rem !important; }

.u-margin-top--1rem {
  margin-top: 1rem !important; }

.u-margin-left--1rem {
  margin-left: 1rem !important; }

.u-margin-bottom--2rem {
  margin-bottom: 2rem !important; }

.u-margin-bottom--1rem {
  margin-bottom: 1rem !important; }

.u-align-left {
  text-align: left !important; }

.u-padding--05rem {
  padding: .5rem !important; }

.u-padding-top--4rem {
  padding-top: 4rem !important; }

.u-padding-bottom--05rem {
  padding-bottom: .5rem !important; }

.u-padding-right--05rem {
  padding-right: .5rem !important; }

.u-padding-bottom--1-5rem {
  padding-bottom: 1.5rem !important; }

.u-inline-block {
  display: inline-block; }

.u-block {
  display: block; }

.u-25vw {
  width: 25vw !important; }

.u-25vh {
  height: 35vh !important; }

.u-transformX-40 {
  transform: translateX(-40%) !important; }

.u-transformX-50 {
  transform: translateX(-50%) !important; }

.u-transformX-75 {
  transform: translateX(-75%) !important; }

.u-transformX-85 {
  transform: translateX(-85%) !important; }

.u-auto-scroll-y {
  overflow-y: scroll !important; }

.u-border-full {
  border: 2px solid gray; }

.u-container-full--width {
  width: 100%; }

.u-align-right {
  text-align: right; }

.u-align-center {
  text-align: center; }

.u-vertical-align--middle {
  vertical-align: middle !important; }

.u-border-top {
  border-top: 1px solid black; }

.u-border-bottom {
  border-bottom: 1px solid black; }

.u-width--18rem {
  width: 18rem; }

.u-width--10rem {
  width: 10rem; }

.u-width--full {
  width: 100%; }

.u-2x {
  font-size: 2rem; }

.u-3x {
  font-size: 3rem; }

.u-4x {
  font-size: 4rem; }

.u-5x {
  font-size: 5rem; }

.u-6x {
  font-size: 6rem; }

.u-color-blue {
  color: #66A5AD !important; }

.u-color-red {
  color: #DF3232 !important; }

.u-color-white {
  color: #F1F1F1 !important; }

.u-centered {
  margin: auto !important; }

.u-width--75 {
  width: 75%; }

.u-width--10 {
  width: 10%; }

.u-width--50 {
  width: 50%; }

.u-width--15 {
  width: 15%; }

.u-width--80 {
  width: 80%; }

.u-width--95 {
  width: 95%; }

.u-height--100 {
  height: 100%; }

.u-text-overflow--hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.u-text--error-display {
  color: #DF3232;
  font-size: 1.7rem; }

.u-paragraph {
  font-szie: 1.8rem; }
  .u-paragraph--failed {
    color: #DF3232 !important; }
  .u-paragraph--sucessed {
    color: #28a745 !important; }

.u-row--1140 {
  max-width: 1140px; }

.u-disabled {
  cursor: default !important;
  color: #afafad !important; }

.u-rounded--tag {
  padding: 0 1rem;
  border-radius: 12rem !important;
  border: 1px solid black !important;
  font-size: 1rem;
  font-weight: 400; }

.card--white {
  background-color: #FFF0F5; }

.btn {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem; }
  .btn-green {
    background-color: #6AB187;
    color: white;
    border: 0px;
    transition: .2s all; }
    .btn-green:hover {
      transform: scale(1.003);
      box-shadow: 0px 0px 2px 3px rgba(125, 163, 161, 0.6); }
  .btn:hover {
    text-decoration: none; }

.btn-group {
  list-style: none; }

.btn-belike-a {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important; }

.custom-scroll-y::-webkit-scrollbar {
  width: 5px !important; }

.custom-scroll-y::-webkit-scrollbar-thumb {
  background: #888; }

.custom-scroll-y::-webkit-scrollbar-thumb:hover {
  background: #555; }

.custom-scroll-y::-webkit-scrollbar-button {
  display: none !important; }

.custom-scroll-y::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
  border-radius: 1rem; }

.dropdown-menu {
  color: inherit;
  position: relative; }
  .dropdown-menu .dropdown-btn {
    display: block; }
  .dropdown-menu .dropdown-content--right, .dropdown-menu .dropdown-content--bottom {
    width: 8rem;
    transition: all .7s;
    position: absolute;
    display: none;
    z-index: 100000;
    box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.3); }
  .dropdown-menu .dropdown-content--bottom {
    box-shadow: -1px 2px 3px 3px rgba(0, 0, 0, 0.3); }
  .dropdown-menu .dropdown-content--bottom {
    left: 0px;
    top: 100%; }
  .dropdown-menu .dropdown-menu .dropdown-content--right {
    left: 100%;
    top: 0; }
  .dropdown-menu:hover .dropdown-content--bottom {
    display: block; }
  .dropdown-menu:hover .dropdown-menu:hover .dropdown-content--right {
    display: inline-block;
    width: 100%; }

.vertical-menu--showcase {
  margin: 0px;
  list-style: none; }
  .vertical-menu--showcase .horizontal-menu--showcase {
    padding: 0rem;
    list-style: none; }
  .vertical-menu--showcase > .menu-item:first-child {
    padding-top: .5rem; }

.horizontal-menu--showcase {
  list-style: none; }
  .horizontal-menu--showcase .menu-item {
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    display: inline-block; }

.login-form {
  width: 50vw;
  height: auto;
  background-color: #FFF0F5;
  border: 1px solid #7DA3A1;
  margin: auto;
  margin-top: 15vh;
  padding: 2rem; }
  .login-form__social-login {
    padding: 1rem;
    text-align: center; }
  .login-form__traditional {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center; }

@media only screen and (max-width: 600px) {
  .login-form {
    width: 90vw; } }

.forgot-form {
  width: 50vw;
  height: auto;
  background-color: #FFF0F5;
  border: 1px solid #7DA3A1;
  margin: auto;
  margin-top: 15vh;
  padding: 2rem; }

@media only screen and (max-width: 600px) {
  .forgot-form {
    width: 90vw; } }

.section {
  background-color: #F1F1F1; }
  .section__title {
    font-size: 2.4rem;
    color: #10b591; }
  .section__content {
    margin-top: 1rem;
    padding: .3rem; }

.card-novel {
  background-color: #f9f9f9;
  margin-left: 1rem; }
  .card-novel .img-linking .novel-hero {
    width: 20rem;
    height: auto; }
  .card-novel .novel-short-info {
    width: 100%;
    height: auto; }
    .card-novel .novel-short-info .novel__title {
      margin: auto;
      color: #444;
      font-weight: 400;
      margin-bottom: 1.5rem; }
    .card-novel .novel-short-info .novel__description {
      text-align: justify;
      font-size: 1.8rem; }
  .card-novel .novel__gender {
    font-size: 1.6rem;
    font-weight: 300; }

.link:hover, .link:active, .link:link, .link:visited {
  text-decoration: none;
  color: inherit; }

.thread-news {
  background-color: #f4f4f4;
  height: 20rem;
  display: block;
  overflow: hidden; }
  .thread-news .img {
    width: 20rem; }

.register-form {
  width: 25vw;
  height: auto;
  background-color: #FFF0F5;
  border: 1px solid #7DA3A1;
  margin: auto;
  margin-top: 15vh;
  padding: 2rem; }

.bookmark-line {
  padding: 1rem;
  display: flex;
  justify-contents: flex-start;
  align-items: center;
  width: 100%; }
  .bookmark-line .bookmark-index, .bookmark-line .bookmark-title {
    display: inline-block;
    background-color: green;
    color: white; }
  .bookmark-line .bookmark-index {
    margin-left: 1rem;
    padding: 1rem; }
  .bookmark-line .bookmark-title {
    padding: .5rem; }

.message-card {
  background-color: white;
  width: 95%;
  margin: auto;
  padding: .5rem;
  border-top: 1px solid black;
  padding: 3px; }
  .message-card:last-child {
    border-bottom: 1px solid black; }
  .message-card:first-child {
    border-top: 1px solid black; }

#notification-content .message-card:nth-of-type(1) {
  margin-top: 5px !important; }

#notification-content .message-card:nth-of-type(n) {
  margin-bottom: 5px !important; }

#header--on-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #34675C;
  padding: 1rem; }

#navigation-mobile {
  display: none; }

#navigation-desktop {
  display: inline-block; }

#navigation-mobile, #navigation-desktop {
  background-color: transparent; }
  #navigation-mobile:hover, #navigation-desktop:hover {
    color: #FFF0F5; }
  #navigation-mobile .dropdown-menu:hover, #navigation-desktop .dropdown-menu:hover {
    background-color: #6AB187; }
  #navigation-mobile .dropdown-content--bottom, #navigation-mobile .dropdown-content--right, #navigation-desktop .dropdown-content--bottom, #navigation-desktop .dropdown-content--right {
    width: 16rem;
    background-color: #6AB187;
    color: #FFF0F5; }
    #navigation-mobile .dropdown-content--bottom .menu-item, #navigation-mobile .dropdown-content--right .menu-item, #navigation-desktop .dropdown-content--bottom .menu-item, #navigation-desktop .dropdown-content--right .menu-item {
      margin-left: 2rem;
      padding: .7rem;
      text-transform: uppercase; }
  #navigation-mobile a, #navigation-desktop a {
    color: #FFF0F5;
    text-decoration: none; }
    #navigation-mobile a:hover, #navigation-desktop a:hover {
      color: white; }

#user-functions {
  position: relative;
  z-index: 1000;
  margin-right: 2rem;
  color: #7DA3A1; }
  #user-functions #user-controls {
    background-color: #6AB187;
    width: 12rem; }
    #user-functions #user-controls .menu-item {
      margin-bottom: 1rem; }
    #user-functions #user-controls .btn {
      text-transform: uppercase;
      color: #FFF0F5; }
      #user-functions #user-controls .btn:hover {
        color: white; }

.main-logo--top {
  display: inline-block; }

.radius-logo {
  border-radius: 50%; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #navigation-desktop {
    display: none; }
  #navigation-mobile {
    display: inline-block; }
  .u-25vw {
    width: 50vw !important; }
  .u-25vw {
    width: 50vw !important; }
  .u-25vh {
    height: 40vh !important; } }

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  #navigation-desktop {
    display: none; }
  #navigation-mobile {
    display: inline-block; }
  .u-25vw {
    width: 50vw !important; }
  .u-25vw {
    width: 50vw !important; }
  .u-25vh {
    height: 40vh !important; } }

.footer {
  height: 30vh;
  width: 100%;
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.4); }

.chap {
  width: 80vw;
  margin: 1rem auto; }
  .chap__header {
    padding: .5rem .5rem;
    margin-bottom: 1rem; }
  .chap__body {
    margin: 1rem auto; }
    .chap__body__content {
      padding: 1.5rem;
      margin: 1rem 0;
      font-size: 1.5rem; }
  .chap__comment {
    height: 50vh;
    border: inset; }
  .chap__setup {
    width: auto;
    position: fixed;
    top: 40vh;
    right: 0; }
    .chap__setup ul {
      list-style: none;
      padding: 0; }
      .chap__setup ul li {
        padding-top: .2rem; }
        .chap__setup ul li .btn {
          width: 50px; }

.setting-box {
  height: auto;
  width: 450px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f6f6; }
  .setting-box .main {
    padding: 1rem; }
  .setting-box_label {
    text-align: right; }

@media screen and (max-device-width: 578px) {
  #chap {
    width: 95%; }
  .setting-box {
    width: 350px;
    top: 50%;
    text-align: center; }
    .setting-box_label {
      text-align: center; }
    .setting-box .label-color {
      margin-bottom: 2rem; }
    .setting-box #font {
      width: 80%; } }

@media screen and (max-width: 578px) {
  #chap {
    width: 95%; }
  .setting-box {
    width: 340px;
    top: 50%;
    text-align: center; }
    .setting-box_label {
      text-align: center; }
    .setting-box .label-color {
      margin-bottom: 2rem; }
    .setting-box #font {
      width: 80%; } }

.thread {
  width: 85vw; }
  .thread .table-host-align--right tr th:last-child, .thread .table-host-align--right tr td:last-child {
    text-align: right; }

@media only screen and (max-width: 768px) {
  .thread table tr td:nth-child(3), .thread table tr td:nth-child(4), .thread table tr td:nth-child(5), .thread table tr th:nth-child(3), .thread table tr th:nth-child(4), .thread table tr th:nth-child(5) {
    display: none; } }

.search {
  background-color: #e2e2e2; }
  .search-form {
    width: 80%;
    padding-top: 2rem; }
    .search-form .search-bar {
      width: 100%;
      padding-bottom: 2rem;
      border-bottom: 1px solid white; }
      .search-form .search-bar .l-advanced-search {
        font-size: 1.7rem; }
    .search-form .search-advanced {
      width: 100%;
      font-size: 1.7rem;
      padding-top: 1rem;
      padding-bottom: 1rem; }
      .search-form .search-advanced label {
        color: black;
        padding-left: 1rem; }
      .search-form .search-advanced .genre-select-box {
        padding-left: 2rem;
        border-left: 1px solid #f5f5f5; }
  .search .btn {
    padding: .5rem 2rem;
    color: white; }
  .search .input {
    padding: .2rem 1rem; }
  .search-result {
    background-color: #f7f7f7; }
    .search-result table {
      margin-bottom: .5rem; }
  .search-account {
    width: 1140px; }
    .search-account .search-bar {
      width: 80%; }
  .search .account-info {
    padding: .5rem; }
    .search .account-info .img {
      width: 50px;
      height: 50px; }

@media only screen and (max-width: 950px) {
  .search-form {
    width: 100%; }
    .search-form .search-bar {
      text-align: center; } }

@media only screen and (max-width: 600px) {
  .genre-select-box .col-4 {
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 0; } }

@media only screen and (max-width: 768px) {
  .status {
    text-align: center;
    border-bottom: 1px solid white; }
  .search-bar .btn-search {
    padding-top: 1rem; }
  .search-result table tr td:last-child, .search-result table tr th:last-child {
    display: none; } }

.detail {
  background-color: #fafafa; }
  .detail__top {
    height: auto;
    width: 75vw;
    background-color: #efefef; }
    .detail__top-cover {
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: right; }
      .detail__top-cover .img-cover {
        width: 100%;
        height: 100%; }
    .detail__top-info {
      padding-top: 1rem;
      padding-bottom: 2rem; }
      .detail__top-info .btn {
        margin-right: 1rem; }
  .detail__body {
    width: 75vw;
    padding-bottom: 2rem;
    padding-top: 2rem; }
    .detail__body .tab {
      background-color: #efefef;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #ccc; }
      .detail__body .tab .tab-btn {
        color: #61a4ad;
        text-transform: uppercase;
        text-align: left;
        border: none;
        outline: none;
        padding: .5rem;
        width: 100%; }
      .detail__body .tab .tab-content {
        padding: 1.5rem;
        background-color: #f7f7f7; }

@media screen and (max-width: 768px) {
  .detail__top-info {
    text-align: center; }
  .detail__top-cover {
    text-align: center; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .detail__top-info {
    text-align: center; }
  .detail__top-cover {
    text-align: center; } }

.add {
  width: 1140px;
  margin: 1rem auto;
  background-color: #f8f8f8;
  padding: 1rem; }
  .add .genre label {
    padding-left: .5rem; }

.account-manage {
  background-color: #f0f0f0; }
  .account-manage__nav {
    background-color: #fbfbfb;
    padding: 1rem; }
    .account-manage__nav .dropdown-content--bottom {
      background-color: #fcfcfc;
      width: auto; }
      .account-manage__nav .dropdown-content--bottom .menu-item {
        padding: .5rem; }
  .account-manage__content {
    background-color: #f7f7f7;
    height: 80vh; }
    .account-manage__content section > .row:first-child {
      background-color: #fbfbfb; }
    .account-manage__content .btn {
      padding: .5rem 1rem .5rem 1rem !important; }
    .account-manage__content .admin-nav {
      background-color: #2f353a; }
      .account-manage__content .admin-nav label {
        color: #e4e7ea;
        font-weight: 500; }
      .account-manage__content .admin-nav .menu-item:hover {
        background-color: #3e464d; }
      .account-manage__content .admin-nav .menu-item {
        padding-left: 1rem;
        font-size: 1.7rem; }
