.account-manage {
    background-color: #f0f0f0;
    
    &__nav {
        background-color: #fbfbfb;
        padding: 1rem;
        .dropdown-content--bottom {
            background-color: #fcfcfc;
            width: auto;
            .menu-item {
                padding: .5rem;
            }
        }
    }
    
    &__content {
        background-color: #f7f7f7;
        height: 750px;
        overflow-y: scroll;
        section > .row:first-child {
            background-color: #fbfbfb;
        }
        .btn {
            padding: .5rem 1rem .5rem 1rem !important;
        }
        .admin-nav {
            background-color: #2f353a;
            label {
                color: #e4e7ea; 
                font-weight: 500;
            }
            .menu-item:hover {
                background-color: #3e464d;
            }
            .menu-item {
                padding-left: 1rem;
                font-size: 1.7rem;
            }
        }
    }
    
}

    
