.chap {
    width: 80vw;
    margin: auto;
    &__header {
        padding: .5rem .5rem;
        margin-bottom: 1rem;
    }
    
    &__body {
        margin: 1rem auto;
        &__content {
            padding: 1.5rem;
            margin: 1rem 0;
            font-size: 1.5rem;
        }
    }
}
.chap__setup {
    width: auto;
    position: fixed;
    top: 40vh;
    right: 0;
    z-index: 1000;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding-top: .2rem ;
            .btn {
            	width: 50px;
            } 
        }
    }
}
.setting-box {
    height: auto;
    width: 450px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f6f6;
    z-index: 10000;
    .main {
        padding: 1rem;
    }
    &_label {
        text-align: right;
    }
}
@media screen and (max-device-width: 578px) {
    #chap {
        width: 100%;
    }
    
    .setting-box {
        width: 350px;
        top: 50%;
        text-align: center;
        
        &_label {
            text-align: center;
        }
        
        .label-color {
            margin-bottom: 2rem;
        }
        
        #font {
            width: 80%;
        }
    }

}

@media screen and (max-width: 578px) {
    #chap {
        width: 100%;
    }
    
    .setting-box {
        width: 340px;
        top: 50%;
        text-align: center;
        
        &_label {
            text-align: center;
        }
        
        .label-color {
            margin-bottom: 2rem;
        }
        #font {
            width: 80%;
        }
    }
}
