.detail {
    background-color: #fafafa;
    &__top {
        height: auto;
        width: 75vw;
        background-color: #f1f1f1;
        &-cover {
            padding-top: 2rem; 
            padding-bottom: 2rem;
            text-align: right;
            .img-cover {
                width: 100%; 
            }
        }
        &-info {
            padding-top: 1rem; 
            padding-bottom: 2rem;
            .btn {
                margin-right: 1rem;
            }
            .genre {
                text-transform: lowercase;
            }
        }
    }   
    
    &__body {
        width: 75vw;
        padding-bottom: 2rem;
        padding-top: 2rem;
        .tab {
            .tab-btn {
                color: #61a4ad;
                text-transform: uppercase;
                padding: .5rem;
                font-weight: bold;
                cursor: pointer;
                font-size: 1.7rem;
            }
            .tab-content {
                padding: .5rem;

            }
        }
    }
}
    
@media screen and (max-width: 768px) {
    .detail__top-info {
        text-align: center;
    }
    .detail__top-cover {
        text-align: center;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px){
	 .detail__top-info {
        text-align: center;
    }
    .detail__top-cover {
        text-align: center;
    }
}