.search { 
    background-color: #e2e2e2;
    &-form {
        width: 80%;
        padding-top: 2rem;
        .search-bar {
            width: 100%;
            padding-bottom: 2rem;
            border-bottom: 1px solid white;
            .l-advanced-search {
                font-size: 1.7rem;
            }
        }
        .search-advanced {
            width: 100%;
            font-size: 1.7rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            label {
                color: black;
                padding-left: 1rem
            }
            .genre-select-box {
                padding-left: 2rem;
                border-left: 1px solid #f5f5f5;
            }
        }
    }
    .btn {
        padding: .5rem 2rem;
        color: white;
    }
    .input {
        padding: .2rem 1rem;
    }
    &-result {
        background-color: #f7f7f7;
        table {
            margin-bottom: .5rem;
        }
    }
    &-account {
        width: 1140px;
        .search-bar {
            width: 80%;
        }
    }
    .account-info {
        padding: .5rem;
        .img {
            width: 50px;
            height: 50px;
        }
    }
}
@media only screen and (max-width: 950px) {
    .search {
        &-form {
            width: 100%;
            .search-bar {
                text-align: center;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .genre-select-box {
        .col-4 {
            max-width: 50%;
            flex: 0 0 50%;
            padding-right: 0;
        }
    }
}
@media only screen and (max-width: 768px) {
    .status {
        text-align: center;
        border-bottom: 1px solid white;
    }
    
    .search-bar .btn-search {
        padding-top: 1rem;
    }
} 

    