 .thread {
    width: 85vw;
    .table-host-align--right tr th:last-child, .table-host-align--right tr td:last-child {
        text-align: right;
    }
}
        
        
.u-margin-right--05rem {
    margin-right: .5rem;
}

.btn-group {
    list-style: none;
}

.u-width--10 {
    width: 10%;
}