.message-card{
	background-color: white;
	width: 95%;
	margin : auto;
	padding: .5rem;
	border-top: 1px solid black;
	padding: 3px;
	
	&:last-child{
		border-bottom: 1px solid black;
	}
	&:first-child{
		border-top: 1px solid black;
	}
}