@import "_header.user-functions.user-bookmark.bookmark-line.scss";
@import "_header.user-functions.user-notification.message.scss";
@import "_header.user-functions.user-notification.scss";
#header--on-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-reflection;
    padding: 1rem;
}

#navigation-mobile {
    display: none;
}
#navigation-desktop {
    display: inline-block;
}
#navigation-{
	&mobile, &desktop{
			background-color:transparent;
			&:hover{
	    	color: $color-lavenderblush;
	    }
	    .dropdown-menu:hover{
	    	background-color: $color-lagoon;
	    }
	   	.dropdown-content--bottom , .dropdown-content--right{
	   		width: 16rem;
	   		background-color: $color-lagoon;
	   		color: $color-lavenderblush;
	   		.menu-item{
	   			margin-left: 2rem;
	   			padding: .7rem;
	   			text-transform: uppercase;
	   		}
	   	}
	   	a {
	   		color: $color-lavenderblush;
	   		text-decoration: none;
	   		&:hover {
	   			color: white;
	   		}
	   	}
	}
}
#user-functions {
    position: relative;
    z-index: 1000;
    margin-right: 2rem;
    #user-controls{
    background-color: $color-lagoon; 
    	width: 12rem;
    	.menu-item{
    		margin-bottom: 1rem;
    	}
    	.btn{
    		text-transform: uppercase;
    		color: $color-lavenderblush;
    		&:hover{
    		color: white;}
    	}
    }
}

.main-logo--top {
    display: inline-block;
}

.radius-logo {
    border-radius: 50%;
}

@media only screen and (min-width:320px) and (max-width: 768px) {
    #navigation-desktop {
        display: none;
    }
    #navigation-mobile {
        display: inline-block;
    }
    .u-25vw{
    	width: 50vw !important;
    }
    .u-25vw{
    	width: 50vw !important;
    }
    .u-25vh {
    	height : 40vh !important;
    }
}
@media only screen and (min-device-width : 300px) and (max-device-width : 480px){
	 #navigation-desktop {
        display: none;
    }
    #navigation-mobile {
        display: inline-block;
    }
    .u-25vw{
    	width: 50vw !important;
    }
    .u-25vw{
    	width: 50vw !important;
    }
    .u-25vh {
    	height : 40vh !important;
    }
}
