.card {
    position: relative;
    margin-bottom: 20px;
    width: 150px;
    height: 215px;
    margin: .5rem;
    display: inline-block;
    text-align: left;
    color: white;
    &-img {
        border: 1px solid #f0f0f0;
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover !important;
    }
    &-detail {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: .5rem;
    }
}
