.custom-scroll-y{
		&::-webkit-scrollbar{
			width: 5px !important;
		}
		&::-webkit-scrollbar-thumb{
			background: #888;
		}
		&::-webkit-scrollbar-thumb:hover{
			background: #555;
		}
		&::-webkit-scrollbar-button{
			display: none !important;
		}
		&::-webkit-scrollbar-track{
			background-color: #f1f1f1 !important;
			border-radius: 1rem;
		}
	}