.dropdown-menu {
	color: inherit;
	position: relative;
	.dropdown-btn {
		display: block;
	}
	.dropdown-content--right,.dropdown-content--bottom{
//		width: 8rem;
		transition: all .7s;
		position: absolute;
		display : none;
		z-index: 100000;
		box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.3);
	}
	.dropdown-content--bottom {
		  box-shadow: -1px 2px 3px 3px rgba(0, 0, 0, 0.3);
	}
	.dropdown-content--bottom {left: 0px; top:100%;}
	.dropdown-menu .dropdown-content--right {left: 100%; top: 0;}
	&:hover .dropdown-content--bottom {display: block;}
	&:hover &:hover .dropdown-content--right {
		display: inline-block;
		width: 100%;
	}
}
.vertical-menu--showcase{
	margin : 0px;
	list-style:none;
	.horizontal-menu--showcase {
		padding: 0rem;
		list-style: none;
	}
	.menu-item{
	}
	>.menu-item:first-child{padding-top: .5rem;}
	.menu-item:hover {}
}

.horizontal-menu--showcase {
	list-style:none;
	.menu-item{
		font-weight: 300;
		border-bottom: 1px solid transparent;
		transition: all .3s;
		display:inline-block;
	}
}
