.forgot-form{
	width: 50vw;
	height: auto;
	background-color: $color-lavenderblush;
	border: 1px solid $color-mist;
	margin: auto;
	margin-top: 15vh;
	padding: 2rem;
}
@media only screen and (max-width: 600px) {
   .forgot-form{
   		width: 90vw;
   }
}
