.card-novel {
	background-color: $color-white-light-v2;
    margin-left: 1rem;
    .img-linking{
    	.novel-hero{
	    	width: 20rem;
		    height: auto;
    	}
    }
    .novel-short-info {
	    width: 100%;
	    height: auto;
		    .novel__title {
	   		 	margin: auto;
	   		 	color:$color-black;
	   		 	font-weight: 400;
	   		 	margin-bottom:1.5rem;
			}
			.novel__description {
			    text-align: justify;
			    font-size: 1.8rem;
			}
	}
    .novel__gender {
	  font-size: 1.6rem;
	  font-weight: 300;
	}
}  