.card-novel {
    border: 1px solid gray;
    margin-left: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    
    .img-linking{
    	.novel-hero{
	    	width: 20rem;
		    height: auto;
    	}
    }
    .novel-short-info {
	    width: 100%;
	    height: auto;
		    .novel__title {
	   		 	margin: auto;
			}
			.novel__description {
			    text-align: justify;
			    font-size: 1.8rem;
			}
	}
    .novel__gender {
	  background-color: lightsteelblue;
	  margin: 0px;
	  font-size: 1.6rem;
	  font-weight: 300;
	  color : #c68c05;
	}
}
 


  
  
  