$color-blue-pine: #324851;
$color-new-grass: #86AC41;
$color-mist: #7DA3A1;
$color-reflection: #34675C;
$color-lagoon: #6AB187;
$color-lavenderblush: #FFF0F5;
$color-blue-wave: #66A5AD;
$color-red-tomatoe : #DF3232;
$color-white-light : #F1F1F1;
$color-white-deep : #E3E3E3;	
$color-green : #28a745;