* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0rem;
}

body {
    background-image: url("../imgs/dark-noise.png");
    background-repeat: repeat;
    background-position: center;
}
