.u-margin-right--1rem {
    margin-right: 1rem;
}
.u-margin-right--2rem{
		margin-right: 2rem;
}
.u-margin-left--2rem {
    margin-left: 2rem;
}

.u-margin-left--1rem {
    margin-left: 1rem;
}

.u-inline-block {
    display: inline-block;
}

.u-25vw {
    width: 25vw !important;
}

.u-25vh {
    height: 35vh !important;
}

.u-transformX-50 {
    transform: translateX(-50%) !important;
}

.u-transformX-75 {
    transform: translateX(-75%) !important;
}

.u-transformX-85 {
    transform: translateX(-85%) !important;
}

.u-auto-scroll-y {
    overflow-y: scroll !important;
}
.u-border-full{
		border: 2px solid gray;
}
.u-container-full--width {
	width: 100%;
}
.u-.align-right{
	text-align: right;
}
.u-border-top{
	border-top: 1px solid black;
}
.u-border-bottom{
	border-bottom: 1px solid black;
}
.u-width--18rem{
	width: 18rem;
}
.u-width--10rem{
	width: 10rem;
}
.u-width--full{
	width: 100%;
}
.u-align-right{
	text-align: right;
}
.u-2x{
	font-size: 2rem;
}.u-3x{
	font-size: 3rem;
}.u-4x{
	font-size: 4rem;
}.u-5x{
	font-size: 5rem;
}.u-6x{
	font-size: 6rem;
}
