.u-margin-right--1rem {
    margin-right: 1rem !important;
}
.u-margin-right--2rem{
		margin-right: 2rem !important;
}
.u-margin-right--05rem {
    margin-right: .5rem;
}
.u-margin-left--2rem {
    margin-left: 2rem !important;
}
.u-margin-top--2rem{
	margin-top: 2rem !important;
}
.u-margin-top--1rem{
	margin-top: 1rem !important;
}
.u-margin-left--1rem {
    margin-left: 1rem !important;
}
.u-margin-bottom--2rem{
	margin-bottom: 2rem !important;
}
.u-margin-bottom--1rem{
	margin-bottom: 1rem !important;
}
.u-inline-block {
    display: inline-block;
}
.u-block{
	display:block;
}
.u-25vw {
    width: 25vw !important;
}

.u-25vh {
    height: 35vh !important;
}

.u-transformX-50 {
    transform: translateX(-50%) !important;
}

.u-transformX-75 {
    transform: translateX(-75%) !important;
}

.u-transformX-85 {
    transform: translateX(-85%) !important;
}

.u-auto-scroll-y {
    overflow-y: scroll !important;
}
.u-border-full{
		border: 2px solid gray;
}
.u-container-full--width {
	width: 100%;
}
.u-align-right{
	text-align: right;
}
.u-align-center{
	text-align: center;
}
.u-vertical-align--middle {
    vertical-align: middle !important;
}
.u-border-top{
	border-top: 1px solid black;
}
.u-border-bottom{
	border-bottom: 1px solid black;
}
.u-width--18rem{
	width: 18rem;
}
.u-width--10rem{
	width: 10rem;
}
.u-width--full{
	width: 100%;
}
.u-align-right{
	text-align: right;
}
.u-2x{
	font-size: 2rem;
}.u-3x{
	font-size: 3rem;
}.u-4x{
	font-size: 4rem;
}.u-5x{
	font-size: 5rem;
}.u-6x{
	font-size: 6rem;
}
.u-color-blue{
	color: $color-blue-wave !important;
}
.u-color-red{
	color: $color-red-tomatoe !important;
}
.u-color-white{
	color: $color-white-light !important;	
}
.u-centered{
	margin:auto;
}
.u-width--75{
	width: 75%;
}
.u-width--10 {
    width: 10%;
}
.u-width--50 {
    width: 50%;
}
.u-width--15 {
    width: 15%;
}
.u-width--80 {
    width: 80%;
}
.u-width--95 {
    width: 95%;
}
.u-height--100 {
	height: 100%;
}
.u-text-overflow--hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
